.Main_Heading_Gallery{
  background-image: url("../assets/Gallery2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Main_Heading_Gallery h1{
  color: white;
  font-size: 540%;
}


.gallery {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
}

.gallery__header h1 {
  font-size: 32px;
}

.gallery__header h2 {
  font-size: 24px;
  margin-top: 20px;
}

.gallery__header p {
  text-align: center;
  margin-bottom: 20px;
}

.gallery__categories {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.gallery__categories button {
  margin: 0 10px;
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: black;
  transition: all 0.3s ease;
}

.gallery__categories button.active {
  background-color: #000000;
  color: white; 
  border-radius: 5px;
}

.gallery__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.gallery__images img {
  width: 100%;
  border-radius: 10px;
}
